
body {
  background-color: #f8f6f2;
}

h1, h2, h3, h4, h5, h6, a, button :not([class^="fa"]) {
  font-family: 'Cabin Condensed', sans-serif;
}

p :not([class^="fa"])  {
  font-family: 'Alegreya', serif;
}



/********Navbar**********/
.navbar-brand {
  padding-left: 5em;
}

#navbarNav {
  padding-right: 4em;
}

#navbarNav a {
  font-size: clamp(.7rem, 1vw, 2rem);
  padding-right: .5rem;
  padding-left: .8rem;
}

#subNav a {
  color: #f8f6f2;
  background-color: #A2282B;
  border-right: solid 1px #f8f6f2;
}


/********Carousel**********/
.carousel-indicators {
  margin-bottom: 0;
  bottom: -5px;
}
.carousel-indicators div {
  margin-right: .5rem;
}
.carousel-indicators div h6 {
  color: #f8f6f2;
  font-size: clamp(.5rem, 1.5vw, 1rem);
  padding-top: 0;
}

.map-detail {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  color: #f8f6f2;
  font-family: 'Cabin Condensed', sans-serif;
}
.map-detail-music {
  position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 10px;
    color: #f8f6f2;
    font-family: 'Cabin Condensed', sans-serif;
}



/***carousel progress bars***/
.carousel-indicators [data-bs-target] {
  position: relative;
  width: 50px;
  height: 3px;
  border: none;
  border-radius: 24px;
}

.carousel-indicators [data-bs-target] span {
  content: ’’;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  width: 0;
  height: 150%;
  background: #fdb851;
  border-radius: inherit;
}

/******Carousel Title*******/

.carousel-title{
  height: 100%;
  color: #f8f6f2;
}

.carousel-title h1 {
  font-size: 1.5rem;
  font-family: 'Alegreya', serif;
  font-weight: 500;
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -90%);
}

.topLine {
  display: flex;
  flex-direction: column;
}
.topLine img {
  width: 100%;
  width: 150px;
}

/*****Plan Button*****/
.btn-container {
  position: relative;
  text-align: center;
  
}
.btn-container button {
  width: 150px;
}
.plan-btn {
  width: 200px;
  height: 25px;
  background: linear-gradient(90deg, #A2282B 80%, #7B181B 20%);
  color: #f8f6f2;
  font-size: x-small;
  font-weight: 800;
  text-align: left;
}
.plan-arrow {
  position: absolute;
  right: 8px;
}


/*****Discover Sec*****/
#discover {
  margin: 2em;
}

.discover p{
  font-family: 'Cabin Condensed', sans-serif;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/*****Highlights*****/
#highlights {
  margin: 2.5em 0;
  padding: 0 4em;
}
#highlights .row {
  max-width: 900px;
  gap: .5em;
  margin-bottom: .5em;
}
#highlights .col-md:hover {
  
  box-shadow: inset 0 0 0 1000px rgba(162, 40, 43, .8);
}
#highlights h6, #highlights a{
  margin-top: 1em;
  color: #f8f6f2;
  text-decoration: none;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: 900;
  font-size: x-large;
}
        /***Highlights Background***/

        .arts-culture {
          background-image: url(./assets/arts-culture.png);
          background-repeat: no-repeat;
          background-size: 100%;
          height: 100px;
        }
        .historic-district {
          background-image: url(./assets/historic-districts.png);
          background-repeat: no-repeat;
          background-size: 100%;
          height: 100px;
        }
        .fests-ent {
          background-image: url(./assets/fests-ent.png);
          background-repeat: no-repeat;
          background-size: 100%;
          height: 100px;
        }
                 .fests-ent h6 {
                   padding-top: 0;
                 }
        .outdoors {
          background-image: url(./assets/outdoors.png);
          background-repeat: no-repeat;
          background-size: 100%;
          height: 100px;
        }

    /*****Attractions*****/
    #destinations h3 {
      color: #A2282B;
      font-weight: 800;
    }

        .attractions {
          padding: 0 1em;
          margin-right: 0 !important;
        }

        .attractions .img-container {
          border: 1px solid rgba(112, 112, 112, .1);
          background-color: #ffff;
          margin: .5rem 0;
          min-width: 150px;
          min-height: 180px;
        }

       .attractions figcaption a {
          color: #A2282B !important;
        }

        .attractions figcaption i {
          font-size: xx-small;
        }
    
    /*****Best of the Best*****/
    .bb {
      height: auto;
    }

    .bbTop {
      background-image: url(./assets/trolly.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 50%;
    }
    .bbTop img {
      margin-top: 3em;
      margin-bottom: 1em;
    }

    .bbBottom {
      height: 50%;
    }

    .bb-description {
      background-color: #A2282B;
      box-shadow: 0 -5px #7B181B;
      width: 90%;
      text-align: center;
      margin: -15px auto 2em auto;
    }
    .bb-description h4 {
      color: #f8f6f2;
      padding: 2rem 2rem 0 2rem;
    }
    .bb-description h6 {
      color: #fdb851;
      padding: 0 3.5rem 1rem 3.5rem;
    }

    .bb-description p {
      padding: 0 2rem 4rem 2rem;
      color: #f8f6f2;
    }

  /*****Footer*****/
.footer-bg {
  background-image: url(./assets/trolly.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.shading {
  background-color: rgba(123, 24, 27, .9);
  height: 397px;
  margin-top: -25em;
  z-index: 100;
}

.footer-content {
  padding-top: 2em;
  align-items: center;
  text-align: center;
  color: #f8f6f2;
}

.footer-content img {
  padding: 1em;
}

.footer-nav a {
  color: #f8f6f2;
  text-decoration: underline;
  padding: 0 .5rem;
  font-size: clamp(.1rem, .2rem + 1.5vh, 2rem);
}

.footer-bg .navbar {
  padding-bottom: 2em;
}

